@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
//@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;1,400&display=swap');
@import "./mixins.sass";

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
	font-family: 'Ubuntu Mono', monospace;
  //font-family: 'IBM Plex Mono', monospace;
	font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid black;

  &:hover {
    opacity: 0.5;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1152px;
  @include until($tablet) {
    width: 100%;
  }
}

.wrapper > * {
  padding: 32px;

  &:first-child {
    padding-top: 0;
  }
}


header {
  margin-top: 35px;
  margin-bottom: 32px;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    b {
      margin-left: 4px;
      font-size: 40px;
    }
  }

  .page-header {
    display: flex;

    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
    @include until($tablet) {
      flex-direction: column;
      margin-bottom: 0px;
    }

    .left {
      display: flex;
      flex-direction: column;

      #canvas-wrapper {
        border-radius: 0px;
        overflow: hidden;
        width: 24px;
        height: 24px;
        flex-shrink: 0
      }


      .introduction {
        p {
          margin-top: 9px;
        }

        br {
          @include until($tablet) {
            display: none;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      width: fit-content;

      .email {
        margin: -5px 0.5em 0;

      }

      .icons {
        a {
          border-bottom: none;
        }
      }

      @include until($tablet) {
        margin-top: 0;
        flex-direction: row-reverse;

      }

    }
  }
}

.page-main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


  .thmb {
    margin-bottom: 80px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
    //@include until($desktop) {
    //margin-bottom: 80px;
    //}

    div {
      margin-top: 10px
    }


    h2 {
      margin: 16px 0 10px 0;
      font-weight: normal;
      box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 #000;
      display: inline;
    }

    img {
      width: 100%;
      border-radius: 4px;
      border: 1px solid #dfdfdf;
      margin-bottom: 16px;
    }

    &.thmb-s {
      width: 31%;
      @include until($desktop) {
        width: 48%;
      }
      @include until($tablet) {
        width: 100%;
      }

      h2 {
        font-size: 24px;
      }
    }

    &.thmb-m {
      width: 65%;
      @include until($desktop) {
        width: 100%;
      }
      @include until($tablet) {
        width: 100%;
      }

      h2 {
        font-size: 32px;
        @include until($tablet) {
          font-size: 24px;
        }
      }
    }

    &:hover {
      opacity: 0.7;
      //transform: scale(1.05);
      transform-origin: 50% 50%;
    }
  }

  .team {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 32px;

    .member {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 0 0 33.3%;
      margin-bottom: 12px;
      margin-right: 37px;
      @include until($desktop) {
        flex-grow: 1;
        margin-right: 0;
      }

      .img {
        margin-right: 16px;
      }

      .text {
        font-style: normal;
        font-size: 16px;
        line-height: 16px;

        .name {
          font-weight: bold;
        }

        .desc {
          font-weight: normal;
        }
      }
    }
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}


.page-footer {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  background: black;
  color: white;
  padding-top: 64px;
  padding-bottom: 24px;
  width: 100%;

  a {
    border-color: white;
  }

  .footer-wrapper {
    margin: 0 auto;
    max-width: 1152px;
    width: 100%;
  }

  .emailus {
    padding: 0 32px;
  }

  .cookies {
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 45px 32px 0 32px;
  }

  &.title {

  }
}
